<mat-card>
  <mat-action-list>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink = "/admin/actividades/programas">
      <mat-icon>wb_incandescente</mat-icon>PROGRAMAS
    </button>
    <button mat-list-item routerLink = "/admin/actividades/talleres">
      <mat-icon>tableta</mat-icon>TALLERES
    </button>
    <button mat-list-item routerLink = "/admin/actividades/materiales">
      <mat-icon>editar_ubicacion</mat-icon>Materiales
    </button>

    <button mat-list-item routerLink = "/admin/actividades/personas">
      <mat-icon>person_add</mat-icon>Personas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/carreras">
      <mat-icon>work</mat-icon>Escuelas Profesionales
    </button>
    <button mat-list-item routerLink = "/admin/actividades/encuestas">
      <mat-icon>assignment</mat-icon>Asistencia
    </button>



    <button mat-list-item routerLink = "/">
      <mat-icon >cancelar</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>
